:root{
    --small_weight:400;
    --medium_weight:500;
    --large_weight:700;

    --font_family: 'League Spartan', sans-serif;
}
.supreme{
    margin:10px;
    padding:10px;
    display:flex;
    flex-direction:column;
    max-width:1000px;
    padding-bottom:40px;
}
body{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    overflow-x:hidden;
    font-family: var(--font_family);
}
.main-1{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.userlover{
    font-size:15px;
    color: hsl(303, 10%, 53%);
    width:100%;
}
.ten{
    font-size: 40px;
    font-weight:var(--large_weight);
    color: hsl(300, 43%, 22%);
    width:300px;
    margin-bottom:25px;
}
.we_only{
    width:70%;
    line-height:20px;
}
.rating{
    color:hsl(300, 43%, 22%);
    font-weight:var(--large_weight);
    width:100%;
}
.review_one{
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    background-color:hsl(333, 69%, 86%);
    padding:10px 80px 10px 20px;
    border-radius:5px;
    margin-left:-80px;
    margin-right:80px;
    width:fit-content;
}
.review_two{
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    background-color:hsl(333, 69%, 86%);
    padding:10px 80px 10px 20px;
    border-radius:5px;
    margin-left:-40px;
    margin-right:40px;
    width:fit-content;
}
.review_three{
    display:flex;
    gap:10px;
    width:fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
    background-color:hsl(333, 69%, 86%);
    padding:10px 80px 10px 20px;
    border-radius:5px;
}
.main-2{
    display:flex;
    margin-top:40px;
    gap:20px;
    justify-content: space-between;
}
.colton_div{
    background-color:hsl(300, 43%, 22%);
    color:white;
    padding:20px;
    border-radius:10px;
}
.colton_profile{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom: 20px;
}
.colton_profile img{
    height:40px;
    width:40px;
    border-radius:50%;
}
.colton_smith{
    font-weight:var(--medium_weight);
    line-height:20px;
}
.colton_smith span{
    font-weight: var(--small_weight);
}
.colton_suggestion{
    width:100%;
    line-height:23px;
}
.irene_div{
    background-color:hsl(300, 43%, 22%);
    color:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:-20px;
    margin-top:20px;
}
.anne_div{
    background-color:hsl(300, 43%, 22%);
    color:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:-40px;
    margin-top:40px;
}

.colton_smith span{
    color:hsl(333, 80%, 67%);
}
@media screen and (max-width:760px) {
    body{
        display:block;
    }
    .main-1{
        flex-direction:column;
    }
    .main-2{
        flex-direction:column;
    }
    .review_one{
        margin-left:0;
        padding:10px;
        margin-right:0;
    }
    .review_two{
        margin-left:0;
        padding:10px;
        margin-right:0;
    }
    .review_three{
        margin-left:0;
        padding:10px;
        margin-right:0;
    }
    .we_only{
        width:95%;
    }
    .rating{
        margin-top:20px;
        padding-left:20px;
    }
}